<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
    </head>
    <body>
        <main>
            <header>
                <nav>
                    <ul>
                        {% if user.is_authenticated %}
                            <li>
                                <a href="{% url "logout" %}">Logout</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{% url "signup" %}">Sign up</a>
                            </li>
                            <li>
                                <a href="{% url "login" %}">Login</a>
                            </li>
                            <li>
                                <a href="{% url "create_receipt" %}">Create Receipt</a>
                            </li>
                            <li>
                                <a href="{% url "category_list" %}">Category list</a>
                            </li>
                            <li>
                                <a href="{% url "account_list" %}">Account list</a>
                            </li>
                            <li>
                                <a href="{% url "create_category" %}">Create category</a>
                            </li>
                            <li>
                                <a href="{% url "create_account" %}">Create account</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </header>
            {% block content %}
            {% endblock content %}
        </main>
    </body>
</html>
