{% extends "base.html" %}

{% block content %}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of Receipts</th>
            </tr>
        </thead>
        <tbody>
            {% comment %} grabs from views.py {% endcomment %}
            {% for category in categories %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td>{{ receipt.category.count }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
